@charset "UTF-8";
/* CSS Document */
#booklist{float:left;
width:260;
height:auto;
background:#FC0;
position:fixed;
	}
.booklist_title{
	background:#ccc;
width:250px;
height:25px;
left:10px;
border:0px;
border-bottom:#999 solid 1px;
padding:2px 0px 0px 10px;
margin-top:10px;
}
.booklist{
	background:#ffc;
width:240px;
height:25px;
left:35px;
border:0px;
border-bottom:#0CF solid 1px;
padding:10px 0px 0px 10px;
}

