@charset "UTF-8";
/* CSS Document */

#booklist{float:left;
width:260;
height:auto;
background:#FC0;
position:fixed;
}

.book-image {
  width: 150px;
}
.book-image-tall {
  width: auto;
  height: 150px;
}

.booklist_container{
	height:auto;
	width:260px;
	}
.slide-up {
    -webkit-transition:     all .5s ease;
	-moz-transition:        all .5s ease;
	-o-transition:          all .5s ease;
	-ms-transition:         all .5s ease;
	transition:             all .5s ease;

	opacity:        0;
	overflow:       hidden;
}

.booklist_need{
background-color:#ECECEC;
width:97%;
height:15px;

border:0px;
border-bottom:#E0E0E0 solid 1px;
border-left:#8CC63F solid 5px;
padding:0px 0px 5px 2px;
margin:10px 0px 0px 2px;
font-family: 'Didact Gothic', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;

}
.booklist_have{
background-color:#ECECEC;
width:97%;
height:15px;
border:0px;
border-bottom:#E0E0E0 solid 1px;
border-left:#75CAD8 solid 5px;
padding:0px 0px 5px 2px;
margin:20px 0px 0px 2px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:300;
color:#333;
font-family: 'Didact Gothic', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
}
.booklist_keep{
background-color:#ECECEC;
width:97%;
height:15px;
border:0px;
border-bottom:#E0E0E0 solid 1px;
border-left:#CCC solid 5px;
padding:0px 0px 5px 2px;
margin:20px 0px 0px 2px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:300;
color:#333;
font-family: 'Didact Gothic', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
}
.booklist-item{
width:255px;
height:auto;
border:0px;
border-bottom:#E0E0E0 solid 1px;
padding:0px 0px 5px 2px;
margin:0px 0px 0px 0px;
list-style:none;
font-family: 'Didact Gothic', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
}
.semester{
	background:#FFC;
	color:#333;
	height:20px;
	min-width:100px;
	width:auto;
	display:inline-block;
	margin:0px 5px 0px 0px;
	padding:2px 0px 0px 5px;
	float:left;
	}
.book_course{
	background:#FFC;
	color:#fff;
	height:20px;
	min-width:100px;
	width:auto;
	margin:0px 5px 0px 0px;
	padding:2px 0px 0px 5px;
	float:left;
	}
<<<<<<< HEAD
	
=======
>>>>>>> 4f694985b953f521886ca26dcec586fb4764801c
